.button {
    -fx-background-color: #fda403;
    -fx-background-radius: 15;
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-transition: all 0.2s ease;
}

.button:hover {
    -fx-background-color: #fcb22b;
}

.button:pressed {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

.textField {
    -fx-background-color: transparent;
    -fx-border-color: #000000;
    -fx-border-radius: 15;
}

.textField:focused{
    -fx-border-color:#fda403;
}

.choice-box {
    -fx-background-color: transparent;
    -fx-border-color: #000000;
    -fx-border-radius: 15;
}

.choice-box:focused{
    -fx-border-color:#fda403;
}

.change-button{
    -fx-background-color:#fda403;
    -fx-font-weight:bold;
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-transition: all 0.2s ease;
}

.change-button:hover{
    -fx-background-color:#ef5e11
}

.change-button:pressed{
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}


