<div
  class="bg-white relative z-10 w-full my-8 max-w-md min-w-md rounded-3xl md:border-4 md:border-[#FDA403] shadow-xl p-8 transform transition-all duration-300 hover:scale-[1.01]"
>
  <div class="text-center mb-8">
    <h2 class="text-3xl font-black text-gray-800 mb-2">Welcome back!</h2>
    <p class="text-gray-500 font-medium">Log in to order your favorite ramen.</p>
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="space-y-6">
    @if (errorMessage()) {
      <div
        class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-4"
        role="alert"
      >
        <strong class="font-bold">Error: </strong>
        <span class="block sm:inline">{{ errorMessage() }}</span>
      </div>
    }
    <div class="space-y-1">
      <label for="email" class="block text-sm font-bold text-gray-700 ml-1">Email address</label>
      <div class="relative">
        <input
          id="email"
          type="email"
          formControlName="email"
          placeholder="example@gmail.com"
          class="w-full px-5 py-3 rounded-xl border-2 border-gray-200 bg-gray-50 focus:bg-white focus:border-[#FDA403] focus:ring-4 focus:ring-[#FDA403]/20 transition-all outline-none font-medium placeholder-gray-400"
          [class.border-red-400]="isFieldInvalid('email')"
          [class.bg-red-50]="isFieldInvalid('email')"
        />
        <!-- Icon -->
        <div class="absolute right-4 top-3.5 text-gray-400 pointer-events-none">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207"
            />
          </svg>
        </div>
      </div>

      @if (isFieldInvalid('email')) {
        <p class="text-red-500 text-xs font-bold ml-1">Enter valid email address.</p>
      }
    </div>

    <div class="space-y-1">
      <div class="flex justify-between items-center ml-1">
        <label for="password" class="block text-sm font-bold text-gray-700">Password</label>
        <a routerLink="/forgot-password" class="text-xs font-bold text-[#FDA403] hover:underline"
          >Forgot Password?</a
        >
      </div>
      <div class="relative">
        <input
          id="password"
          [type]="showPassword() ? 'text' : 'password'"
          formControlName="password"
          placeholder="••••••••"
          class="w-full px-5 py-3 rounded-xl border-2 border-gray-200 bg-gray-50 focus:bg-white focus:border-[#FDA403] focus:ring-4 focus:ring-[#FDA403]/20 transition-all outline-none font-medium placeholder-gray-400"
          [class.border-red-400]="isFieldInvalid('password')"
        />
        <button
          type="button"
          (click)="togglePassword()"
          class="absolute right-4 top-3.5 text-gray-400 hover:text-[#FDA403] transition-colors focus:outline-none"
        >
          @if (!showPassword()) {
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
              />
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
              />
            </svg>
          } @else {
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.88 9.88l-3.29-3.29m7.532 7.532l3.29 3.29M3 3l3.59 3.59m0 0A9.953 9.953 0 0112 5c4.478 0 8.268 2.943 9.543 7a10.025 10.025 0 01-4.132 5.411m0 0L21 21"
              />
            </svg>
          }
        </button>
      </div>
    </div>

    <button
      type="submit"
      [disabled]="loginForm.invalid || isLoading()"
      class="w-full bg-[#FDA403] cursor-pointer hover:bg-[#E59402] text-white font-black text-lg py-3.5 rounded-xl shadow-lg shadow-orange-200 transform transition-all active:scale-95 disabled:opacity-70 disabled:cursor-not-allowed flex justify-center items-center gap-2"
    >
      @if (!isLoading()) {
        <span>Log in</span>
      }

      @if (isLoading()) {
        <svg
          class="animate-spin h-5 w-5 text-white"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>
      }
    </button>

    <div class="relative py-2">
      <div class="absolute inset-0 flex items-center">
        <div class="w-full border-t border-gray-200"></div>
      </div>
      <div class="relative flex justify-center text-sm">
        <span class="px-2 bg-white text-gray-500 font-medium">or continue with</span>
      </div>
    </div>

    <div class="w-full flex justify-center">
      <button
        type="button"
        class="flex items-center cursor-pointer justify-center px-4 py-2 border-2 border-gray-100 rounded-xl hover:bg-gray-50 hover:border-gray-200 transition-colors font-bold text-gray-600"
      >
        <span class="mr-2">G</span> Google
      </button>
    </div>
  </form>

  <div class="mt-8 text-center text-sm font-medium text-gray-500">
    Don't have an account yet?
    <a routerLink="/register" class="text-[#FDA403] font-bold hover:underline">Sign up now</a>
  </div>
</div>
